@model Project01_Team07.Models.Enrollment

@{
    ViewData["Title"] = "Create";
}


<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Enrollment Form</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="StudentID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StudentID" class="form-control" value="@ViewData["StudentID"]" />
                <span asp-validation-for="StudentID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label for="sectionCRN" class="col-md-2 control-label">Sections</label>
            <div class="col-md-10">
                @Html.DropDownList("sectionCRN", (MultiSelectList)ViewBag.Sections, new { @class = "form-control", multiple = "multiple", size = "3" })
            </div>
            <span id="mulMsg" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="semester" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="semester" class="form-control">
                    <option value="fall"> Fall 16 </option>
                    <option value="spring"> Spring 16</option>
                </select>
                <span asp-validation-for="semester" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
<script type="text/javascript">
            $("#sectionCRN").on("change", function () {

                var count = 0;
                var msg = $("#mulMsg");
                for (var i = 0; i < this.options.length; i++) {
                    var option = this.options[i];

                    option.selected ? count++ : null;

                    if (count > 3) {
                        option.selected = false;
                        option.disabled = true;
                        msg.html("<p style='margin-left:240px;'>Please select only three options.<p>");
                    } else {
                        option.disabled = false;
                        msg.html("");
                    }
                }
            });
</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
