﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="generate-page">
    <h4>
        1.Is todays class informative?
    </h4>
    <input type="radio" value="faculty" name="faculty" />Satisfied
    <input type="radio" value="faculty" name="faculty" />Not Satisfied
    <input type="radio" value="faculty" name="faculty" />Poor
    <h4>
        2.Is todays lecture effective?
    </h4>
    <input type="radio" value="faculty1" name="faculty1" />Satisfied
    <input type="radio" value="faculty1" name="faculty1" />Not Satisfied
    <input type="radio" value="faculty1" name="faculty1" />Poor
    <h4>
        3.please rate the examples given by instructor?
    </h4>
    <input type="radio" value="faculty2" name="faculty2" />Satisfied
    <input type="radio" value="faculty2" name="faculty2" />Not Satisfied
    <input type="radio" value="faculty2" name="faculty2" />Poor
    <br />
    <h4>
        Your comments here 
    </h4>
    <input type="textarea" rows="10" columns="10"/>
    <form action="response">
        <input type="submit" value="submit" />
    </form>

</div>


