﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="response-page">
    <h3>Thank You. Your feedback has been submitted</h3>
</div>
