﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.body-content-style{
    padding-left: 10em;
    padding-right: 10em;
}
.student-home-content {
    margin-top: 10%;
    width: 50%;
    margin-left: 40%;
}

.student-content{
    float:left;
    width:45%;
}
.faculty-content{
    width:45%;
    float:right;
}
body{
    background-image:url(../../images/patterns_4.png);
}

img.img-circle.img-responsive.img-center {
    margin: 0 auto;
}
.col-lg-4.text-center h3 {
    display: inline-block;
}

.contact-content {
    margin-left: 28%;
    width: 40%;
    margin-top: 10%;

}

.student-page dt {
    width: 220px;
    margin-right: 6%;
    font-style: italic;
}

.student-page {
    width: 50%;
    /* text-align: center; */
    margin-left: 36%;
    margin-top: 17%;
}
.generate-page {
    margin-left: 34%;
    margin-top: 15%;
}

.generate-page input[type="radio"] {
    margin-left: 2%;
}

.generate-page form {
    margin-left: 13%;
    margin-top: 2%;
}
.response-page {
    margin-top: 18%;
    margin-left: 30%;
}

.student-home-page h4 {
    display: inline;
    margin-left: 1%;
}
.student-home-page a {
    margin-left: 7%;
}
.student-home-page {
    margin: 1%;
}
.student-home-page h2 {
    display: inline;
}
.student-home-page-content {
    margin-top: 1%;
}



table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
   
    color: white;
}

table#t01{
     width:65%;
    
}

table#t01, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

.registerpage-content{
    margin-left:10em;
}
.usercheck-sctn label.col-md-2.control-label {
    padding: 0px;
}
.registerpage-content h4 {
    margin-left: 3em;
    margin-bottom: 2em;
    text-decoration:underline;
}