﻿<body>
    Hiiiii    
    <!-- Introduction Row -->
        @*<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        About Course FeedBack
                        <small>!</small>
                    </h1>
                    <p>The main objective is to develop web application which is helpful to get the feedback from student for a respective courses they have enrolled.</p>
                </div>
            </div>
            <h2>Features</h2>
            <ul>
                <li> Access will be provided to the authorized Student and Faculty.</li>
                <li>	Each Faculty can upload unique feedback form for their respective course.</li>
                <li>Enrolled Students will be able to provide the feedback form.</li>
                <li>Unauthorized users are prohibited to access the feedback form.</li>
                <li>Confidentiality is provided for the feedback submitted.</li>
            </ul>*@
        <!-- Team Members Row -->
        @*<div class="row">
                 <div class="col-lg-12">
                    <h2 class="txt">Developers of Course Feedback Application</h2>
                 </div>
                 <div class="col-lg-4 col-sm-6 text-center">
                     <img class="img-circle img-responsive img-center" src="~/images/manoj.png" alt="">
                     <h3>
                        Manoj Kumar Are
                         <small>Developer</small>
                     </h3>
                     <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/manoj.are/">
                         <img alt="follow us on facebook" src="~/images/facebook-icon.png" border="0">
                     </a>
                     <p>Major role in Project Planning and Web Page designing.Secondary role in views and Model design</p>

                 </div>
                 <div class="col-lg-4 col-sm-6 text-center">
                     <img class="img-circle img-responsive img-center" src="~/images/pradeep.jpg" alt="">
                     <h3>
                         Pradeep
                         <small>Programmer</small>
                     </h3>
                     <p>design and content lead</p>
                 </div>
                 <div class="col-lg-4 col-sm-6 text-center">
                     <img class="img-circle img-responsive img-center" src="~/images/priyanka.jpg" alt="">
                     <h3>
                         Priyanka
                         <small>Testing Lead</small>
                     </h3>
                     <p>Primary role in Testing and secondary in developing models and persistence</p>
                 </div>
                 <div class="col-lg-4 col-sm-6 text-center">
                     <img class="img-circle img-responsive img-center" src="~/images/srikanth.jpg" alt="">
                     <h3>
                         Srikanth
                         <small>Programmer</small>
                     </h3>
                     <p>Major role in fixing issues</p>
                 </div>
                 <div class="col-lg-4 col-sm-6 text-center">
                     <img class="img-circle img-responsive img-center" src="~/images/Rahul.jpg" alt="">
                     <h3>
                         Rahul
                         <small>Design Lead</small>
                     </h3>
                     <p>Major role in Designing</p>
                 </div>
                 <div class="col-lg-4 col-sm-6 text-center">
                     <img class="img-circle img-responsive img-center" src="~/images/preethi.jpg" alt="">
                     <h3>
                         Preethi
                         <small>Presentation lead</small>
                     </h3>
                     <p>Major role in analyzing the requirements</p>
                 </div>
             </div>

             <hr>

            </div>*@

    <!--
        <div class="container-fluid text-center bg-grey">
            <h2 class="display">Developers of Course Feedback Application</h2>
            <br />

            <div class="row text-center">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/images/priyanka.jpg" alt="Priyanka" width="350" height="150">
                        <p class="disp"><strong>Priyanka Kommula</strong></p>
                        <p class="color">Testing Lead</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/images/manoj.png" alt="Manoj" width="350" height="150">
                        <p class="disp"><strong>Manoj Kumar Are</strong></p>
                        <p class="color">Developer</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/images/pradeep.jpg" alt="Pradeep" width="350" height="150">
                        <p class="disp"><strong>Nandyala Pradeep</strong></p>
                        <p class="color">Programmer</p>
                    </div>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/images/srikanth.jpg" alt="Srikanth" width="350" height="150">
                        <p class="disp"><strong>Srikanth Chippa</strong></p>
                        <p class="color">Programmer</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/images/preethi.jpg" alt="Preethi" width="350" height="150">
                        <p class="disp"><strong>Preethi Gangireddy</strong></p>
                        <p class="color">Presentation Lead</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/images/Rahul.jpg" alt="Rahul" width="350" height="150">
                        <p class="disp"><strong>Rahul Veer</strong></p>
                        <p class="color">Design Lead</p>
                    </div>
                </div>

            </div>
        </div>


        -->
    

    <div class="container aboutpage-content">
        <div>
            <h1 class="text-center">Team</h1>
        </div>
        <p class="lead text-center">The main objective is to develop web application which is helpful to get the feedback from student for a respective courses they have enrolled..</p>
        <div class="container">
            <div class="row stylish-panel">
                <div class="col-md-4">
                    <div>
                        <img src="~/images/srikanth.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>Srikanth Chippa kkkkkkkkkkk</h2>
                        <p>
                            FullStack Developer.
                        </p>
                        <div class="container">

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">See More >></button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Contributions</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Ui developer and bussiness logic developer.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img src="~/images/pradeep.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>Pradeep Kumar</h2>
                        <p>
                           Web Developer
                        </p>
                        <!--  <a href="#" class="btn btn-primary" title="See more">See works »</a> -->


                        <div class="container">

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">See More >></button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal1" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Contributions</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Creation of faculty view reponse page and Home page layout</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img src="~/images/manoj.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>Manoj Kumar Are</h2>
                        <p>
                            Web Designer
                        </p>
                        <div class="container">

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">See More >></button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal2" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Contributions</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Major role in Web Page designing.</p>
                                            <p>Ui design of registration,login,facultyenroll</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row stylish-panel">
                <div class="col-md-4">
                    <div>
                        <img src="~/images/priyanka.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>Priyanka Kommula</h2>
                        <p>
                            Routing Lead
                        </p>
                        <div class="container">

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">See More >></button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal3" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Contributions</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Binding the data to the model and the database.</p>
                                            <p>student enroll and feedback generation page</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img src="~/images/Rahul.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>Rahul Veer</h2>
                        <p>
                           Testig Lead
                        </p>
                        <div class="container">

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">See More >></button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal4" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Contributions</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>testing the application end to end.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img src="~/images/preethi.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>Preethi</h2>
                        <p>
                            Documentation Lead
                        </p>
                        <div class="container">

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">See More >></button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal5" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Contributions</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Major role in analysing the requirements and creating documentation.</p>
                                            <p>Created documentation and requirement analysis of project</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->



        <!--

        <span><b> Project Name: Course FeedBack</b></span>
        <br>

            <span><b>Features</b></span>
        <ul>
            <li> Access will be provided to the authorized Student and Faculty.</li>
            <li>	Each Faculty can upload unique feedback form for their respective course.</li>
            <li>Enrolled Students will be able to provide the feedback form.</li>
            <li>Unauthorized users are prohibited to access the feedback form.</li>
            <li>Confidentiality is provided for the feedback submitted.</li>
        </ul>
        <br>
        <span><b>Project Roles</b></span>
        <br>
        <table border="1">
            <tr>
                <th>Task</th>
                <th>Primary Role</th>
                <th>Secondary Role</th>
            </tr>
            <tr>
                <td>project planning and report leading</td>
                <td>Manoj Kumar Are</td>
                <td>Preethi Gangireddy</td>
            </tr>
            <tr>
                <td>issues lead, repo admin</td>
                <td>Srikanth Chippa</td>
                <td>Pradeep Kumar Nandyala</td>
            </tr>
            <tr>
                <td>readme,Documentation lead</td>
                <td>Pradeep Kumar Nandyala</td>
                <td>Preethi Gangireddy</td>
            </tr>
            <tr>
                <td>models and persistence lead</td>
                <td>Rahul Veer Simhadri</td>
                <td>Priyanka Kommula</td>
            </tr>
            <tr>
                <td>views and view model,design lead</td>
                <td>Srikanth Chippa</td>
                <td>Manoj Kumar Are</td>
            </tr>
            <tr>
                <td>controllers and routing,content lead</td>
                <td>Pradeep Kumar Nandyala</td>
                <td>Priyanka Kommula</td>
            </tr>
            <tr>
                <td>testing lead</td>
                <td>Priyanka Kommula</td>
                <td>Rahul Veer Simhadri</td>
            </tr>
            <tr>
                <td>presentation lead</td>
                <td>Preethi Gangireddy</td>
                <td>Manoj Kumar Are</td>
            </tr>
        </table>
        <br>
        <br>

        <table>
            <tr>
                <td>
                    <img width="250" height="250" src="~/images/manoj.png" />
                </td>
                <td>
                    <a href="https://www.facebook.com/manoj.are/">Contact through Facebook</a>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img width="250" height="250" src="~/images/pradeep.jpg" />
                </td>
                <td>
                    <a href="https://www.facebook.com/pradeep.reddynandyala">Contact through Facebook</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img width="250" height="250" src="~/images/Rahul.jpg" />
                </td>
                <td>
                    <a href="https://www.facebook.com/rahulveer.simhadri">Contact through Facebook</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img width="250" height="250" src="~/images/pri.jpg" />
                </td>
                <td>
                    <a href="https://www.facebook.com/priyanka.kommula.1">Contact through Facebook</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img width="250" height="250" src="~/images/myimage.jpg" />
                </td>
                <td>
                    <a href="https://www.facebook.com/preethi.gangireddy.1">Contact through Facebook</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img width="250" height="250" src="~/images/srikanth.jpg" />
                </td>
                <td>
                    <a href="https://www.facebook.com/srikanth.ch.7792">Contact through Facebook</a>
                </td>
            </tr>
        </table>
            -->
        <!-- /.container -->
        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>




</body>