﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="contact-content">
    <h1> FeedBack Inc </h1> <div class="contact-table-content"> <table> <thead><tr><th>Contact Details </th></tr></thead> <tbody> <tr><td>Address:</td> <td> 513 N Mulberry St, Maryville, MO<br /></td></tr> <tr><td>Phone Number: </td><td> 925-915-9227</td></tr> <tr><td>Mail Id: </td><td><a href="https://mail.google.com/mail/#inbox">FeedBackInc07@gmail.com</a><br /></td></tr> </tbody> </table> </div> <div id="map_canvas" class="col-xs-12" style="min-height: 400px; "> </div>

    @section Scripts{
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
 <!-- http://dotnetdevtricks.blogspot.com/2012/10/google-map-api-v3-with-mvc4-razor.html -->

$(document).ready(function () { initialize(); }); function initialize() { var title ='Feedback Inc'; var lat = 40.346102; var long = -94.872471; var mapOptions = { center: new google.maps.LatLng(lat,long), zoom: 10, mapTypeId: google.maps.MapTypeId.ROADMAP }; var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);

var latlng = new google.maps.LatLng(lat, long); var marker = new google.maps.Marker({ position: latlng, title: title, map: map, draggable: false }); } </script> }
</div>
