﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" type="text/css" href="site.css" />
    <div class="student-home-content" style="margin-left:40%;margin-top:10%;width:40%;">
        <h2>FacultyLogin</h2>

        <div>
            User Id
            <br />
            <input type="text" id="Stuid" />
            <br />
        </div>

        <div>
            Password
            <br />
            <input type="text" id="pwdid" />
            <br />
        </div>
        <br />
        <div>
            <div class="form-group">
                <form asp-controller="Home" asp-action="FacultyHome">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="submit" value="Login" style="margin:10px;"  />
                                </td>
                                <td>
                                    <input type="submit" value="Sign Up" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>


