﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="contact-content">
    <h2>        Future Work</h2>
    <div class="contact-table-content">
        <table id="t01">
            <tr>
                <td>Generating feedback form depending on the type of feed back like daily,monthly,weekly.</td>
            </tr>
            <tr>
                <td>Providing the functionality for faculty to view the daily response.</td>
            </tr>
            <tr>
                <td>Providing the functionality for faculty to generate custom questions.</td>
            </tr>
        </table>
        <br />
        <a href="https://bitbucket.org/professorcase/project01-team07/issues?status=new&status=open">Link to the issue Tracker</a>
    </div>
</div>