﻿@{
    ViewData["Title"] = "Home Page";
}

@*<div class="body-content-style">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/feedback1.png" alt="ASP.NET" class="img-responsive" />
              </div>
            <div class="item">
                <img src="~/images/feedback2.png" alt="Visual Studio" class="img-responsive" />
               </div>
            <div class="item">
                <img src="~/images/feedback3.png" alt="Package Management" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/feedback4.png" alt="Microsoft Azure" class="img-responsive" />
             </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="student-content">
        <h2>Feedback form to Students</h2>
        <p>
            The feedback students provide about your teaching on their end-of-semester course evaluations can be valuable
             in helping you improve and refine your teaching.  Soliciting mid-semester student feedback has the additional 
            benefit of allowing you to hear your students’ concerns while there is still time in the semester to make appropriate changes
        </p>
        <div class="form-group">
            <form asp-controller="Home" asp-action="StudentLogin">
                <input type="submit" value="Student Login" class="btn btn-info" />
            </form>
</div>
    </div>
   
     <div class="faculty-content">
        <h2>Feedback form generated by faculty</h2>
        <p>
           Faculty will update feedback form questions based on current topic
        </p>
        <div class="form-group">
            <form asp-controller="Home" asp-action="FacultyLogin">
                <input type="submit" value="Faculty Login" class="btn btn-info" />
            </form>
</div>
    </div>
</div>*@
<div class="container">
    <div id="myCarousel" class="carousel slide" style="height:450px;width:100%;">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <div class="item active">

                <img src="~/images/1.jpg" alt="ASP.NET" class="img-responsive" style="height:450px;width:100%;" />

            </div>
            <div class="item">

                <img src="~/images/2.jpg" alt="ASP.NET" class="img-responsive" style="height:450px;width:100%;" />

            </div>
            <div class="item">

                <img src="~/images/5.jpg" alt="Visual Studio" class="img-responsive" style="height:450px;width:100%;" />

            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>