﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <section>
        <h1>
            Things Done
        </h1>
        <p>
            <ul>
                <li>
                   worked on UI page design and css changes
                </li>
                <li>
                    Worked on creating feedbackquestions view page and functionality of student page2
                </li>
            </ul>
        </p>
    </section>
</div>
