﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@*<div class="contact-content">
        <h1>
            Milestones acheived
        </h1>
        <div class="contact-table-content">
            <table>
                <tbody style="font-size:120%;">
                    <tr><td>Authenticated the users based on the roles student and faculty.</td></tr>
                    <tr><td>Completed the student enrollment process.</td></tr>
                    <tr><td>Completed the design of the views for student entity.</td></tr>
                </tbody>
            </table>
        </div>
    </div>*@

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-controller="Home" asp-action="Preethi">Preethi</a></li>
        <li><a asp-controller="Home" asp-action="Manoj">Manoj</a></li>
        <li><a asp-controller="Home" asp-action="Pradeep">Pradeep</a></li>
        <li><a asp-controller="Home" asp-action="Priyanka">Priyanka</a></li>
        <li><a asp-controller="Home" asp-action="Srikanth">Srikanth</a></li>
        <li><a asp-controller="Home" asp-action="Rahul">Rahul</a></li>
    </ul>
    @await Html.PartialAsync("_LoginPartial")
</div>