﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <section>
        <h1>
            Things Done
        </h1>
        <p>
            <ul>
                <li>
                    Functionality of student page where the student have the CRN's to generate feed back   
                </li>
                <li>
                    Created the views for student page,feed back page.
                </li>
            </ul>
        </p>
    </section>
</div>
