﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <section>
        <h1>
            Things Done
        </h1>
        <p>
            <ul>
                <li>
                    first milestone
                </li>
                <li>
                    second milestone
                </li>
            </ul>
        </p>
    </section>
</div>
