﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container" style="width:90%;">
    <section style="background:#ffffff;box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);width:100%;padding: 5px;margin-top: 20px;">
        <div style="border-bottom: 1px solid rgba(0,0,0,.12);">
            <h1 style="height: 48px;margin-left:5px;">
                Things Done
            </h1>
        </div>
        <p>
            <ul style="font-size:25px;">
                <li>
                    Creating feedback links for course CRN Enrolled
                </li>
                <li>
                    Generated feedback form for the generated links
                </li>
                <li>
                    Storing the submitted feedback
                </li>
            </ul>
        </p>
    </section>
</div>
