@model Project01_Team07.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


    <h4>Student</h4>
    <hr />
  
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>
        </dl>
@if (model.isEnrolled)
{


}
else
{
    <a asp-controller="Enrollments" asp-action="Create" class="form-horizontal">enroll</a>
}
       


  
       
