@model IEnumerable<Project01_Team07.Models.Section>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isAssigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sectionCRN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sectionName)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isAssigned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sectionCRN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sectionName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.SectionID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.SectionID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.SectionID">Delete</a>
        </td>
    </tr>
}
</table>
