﻿<div style="margin-top:5px;">
    <div class="col-lg-6">
        <!-- Icon Based -->
        <div class="block block-themed">
            <div class="block-header bg-primary">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                    </li>
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                    <li>
                        <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Questions And Responses</h3>
            </div>
            <div class="block-content">
                <ul class="list list-timeline pull-t">
                    <!-- Facebook Notification -->
                    <li>
                        @*<div class="list-timeline-time">3 hrs ago</div>*@
                        <i class="fa fa-check-circle list-timeline-icon bg-default"></i>
                        <div class="list-timeline-content">
                            <p class="font-s15">The Instructor requried that students use course concepts to demonstrate understanding</p>
                            <p class="font-w600">Strongly Agree</p>
                        </div>
                    </li>
                    <!-- END Facebook Notification -->
                    <!-- Facebook Notification -->
                    <li>
                        @*<div class="list-timeline-time">3 hrs ago</div>*@
                        <i class="fa fa-check-circle list-timeline-icon bg-default"></i>
                        <div class="list-timeline-content">
                            <p class="font-s15">The Instructor treated students fairly</p>
                            <p class="font-w600">Strongly Agree</p>
                        </div>
                    </li>
                    <!-- END Facebook Notification -->
                    <!-- Facebook Notification -->
                    <li>
                        @*<div class="list-timeline-time">3 hrs ago</div>*@
                        <i class="fa fa-check-circle list-timeline-icon bg-default"></i>
                        <div class="list-timeline-content">
                            <p class="font-s15">The Instructor teaching methods were effective</p>
                            <p class="font-w600">Strongly Agree</p>
                        </div>
                    </li>
                    <!-- END Facebook Notification -->
                </ul>
            </div>
        </div>
        <!-- END Icon Based -->
    </div>
    <div class="col-lg-6">
        <!-- Icon Based -->
        <div class="block block-themed">
            <div class="block-header bg-primary">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                    </li>
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                    <li>
                        <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Comments</h3>
            </div>
            <div class="block-content">
                <ul class="list list-timeline pull-t">
                    <!-- Facebook Notification -->
                    <li>
                        @*<div class="list-timeline-time">3 hrs ago</div>*@
                        <i class="fa fa-comment list-timeline-icon bg-default"></i>
                        <div class="list-timeline-content">
                            <p class="font-w600">@*+ 290 Page Likes*@</p>
                            <p class="font-s13">Excited! course is coming to end. This course helped to develop in many aspects .
                            Angular2 is Intresting </p>
                        </div>
                    </li>
                    <!-- END Facebook Notification -->
                    <!-- Facebook Notification -->
                    <li>
                        @*<div class="list-timeline-time">3 hrs ago</div>*@
                        <i class="fa fa-comment list-timeline-icon bg-default"></i>
                        <div class="list-timeline-content">
                            <p class="font-w600">@*+ 290 Page Likes*@</p>
                            <p class="font-s13">Classes are effective and new topics are demostarted well.</p>
                        </div>
                    </li>
                    <!-- END Facebook Notification -->
                    <!-- Facebook Notification -->
                    <li>
                        @*<div class="list-timeline-time">3 hrs ago</div>*@
                        <i class="fa fa-comment list-timeline-icon bg-default"></i>
                        <div class="list-timeline-content">
                            <p class="font-w600">@*+ 290 Page Likes*@</p>
                            <p class="font-s13">This course is useful considering career. Well structered, trending technologies. working for real-time project is a learning which will help me in future.</p>
                        </div>
                    </li>
                    <!-- END Facebook Notification -->
                </ul>
            </div>
        </div>
        <!-- END Icon Based -->
    </div>
</div>