@model Project01_Team07.Models.Faculty

@{
    ViewData["Title"] = "Faculties - Home";
}

<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('/assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Dashboard</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome @Model.firstName @Model.lastName</h2>
    </div>
</div>
<!-- END Page Header -->
@if (Model.isFacultyEnrolled)
{
    <div class="content content-narrow">
        <!-- Material Design -->
        @*<h2 class="content-heading">Material Design</h2>*@
        <div class="row bg-white">
                <!-- Static Labels -->
                <div class="block">
                    <div class="block-header bg-gray-lighter">
                        <h3 class="block-title">Feedback Generation</h3>
                    </div>
                    <div class="block-content">
                        <form class="form-horizontal push-10-t" asp-controller="Faculties" asp-action="Feedback" method="post" >
                            <div class="col-sm-4">
                                <div class="form-group">
                                        <div class="form-material floating">
                                            <select class="form-control" id="crn" name="crn" size="1">
                                                <option></option>
                                                <option value="@ViewData["crn1"]">@ViewData["crn1"]</option>
                                                <option value="@ViewData["crn2"]">@ViewData["crn2"]</option>
                                                <option value="@ViewData["crn3"]">@ViewData["crn3"]</option>
                                            </select>
                                            <label for="crn">Please Select CRN</label>
                                        </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                        <div class="form-material floating">
                                            <select class="form-control" id="feedbackType" name="feedbackType" size="1">
                                                <option></option>
                                                <option value="daily">Daily</option>
                                                <option value="monthly">Monthly</option>
                                                <option value="semister">Semister</option>
                                            </select>
                                            <label for="feedbackType">Please Select Feedback type</label>
                                        </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <button class="btn btn-sm btn-primary" type="submit">Generate</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- END Static Labels -->
            </div>
        </div>

}
else
{
    <label>As you are first time user, Please enroll to the courses you registered: </label>
    <a asp-controller="Facultyenrollments" asp-action="Create" class="form-horizontal">Enroll</a>
}
