@{
    ViewData["Title"] = "Daily - Feedback";
}

<h2>Daily - Feedback</h2>

<div class="content content-narrow">
    <!-- Material Design -->
    @*<h2 class="content-heading">Material Design</h2>*@
    <div class="row bg-white">
        <!-- Static Labels -->
        <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Daily Feedback form <form action="/" method="post"></form></h3>
            </div>
            <div class="block-content">
                <form class="form-horizontal push-10-t" asp-controller="Feedbacks" asp-action="DailySave" method="post">
                    <input type="text" name="crn" value="@ViewData["section"]" hidden />
                    <div class="form-group">
                        <label>The Instructor requried that students use course concepts to demonstrate understanding </label><br/>
                        <label class="css-input css-radio css-radio-primary push-10-r">
                            <input type="radio" name="q1" value="5"><span></span> Strongly Agree
                        </label>
                        <label class="css-input css-radio css-radio-primary">
                            <input type="radio" name="q1" value="4"><span></span> Agree
                        </label>
                        <label class="css-input css-radio css-radio-primary push-10-r">
                            <input type="radio" name="q1" value="3"><span></span> Neutral
                        </label>
                        <label class="css-input css-radio css-radio-primary">
                            <input type="radio" name="q1" value="2"><span></span> Disagree
                        </label>
                        <label class="css-input css-radio css-radio-primary push-10-r">
                            <input type="radio" name="q1" value="1"><span></span> Strongly Disagree
                        </label>
                    </div>
                    <div class="form-group">
                        <label>The Instructor requried that students use course concepts to demonstrate understanding </label><br />
                        <label class="css-input css-radio css-radio-primary push-10-r">
                            <input type="radio" name="q2" value="5"><span></span> Strongly Agree
                        </label>
                        <label class="css-input css-radio css-radio-primary">
                            <input type="radio" name="q2" value="4"><span></span> Agree
                        </label>
                        <label class="css-input css-radio css-radio-primary push-10-r">
                            <input type="radio" name="q2" value="3"><span></span> Neutral
                        </label>
                        <label class="css-input css-radio css-radio-primary">
                            <input type="radio" name="q2" value="2"><span></span> Disagree
                        </label>
                        <label class="css-input css-radio css-radio-primary push-10-r">
                            <input type="radio" name="q1" value="1"><span></span> Strongly Disagree
                        </label>
                    </div>
                    <div class="form-group">
                        <label>The Instructor requried that students use course concepts to demonstrate understanding </label><br />
                        <label class="css-input css-radio css-radio-primary push-10-r">
                            <input type="radio" name="q3" value="5"><span></span> Strongly Agree
                        </label>
                        <label class="css-input css-radio css-radio-primary">
                            <input type="radio" name="q3" value="4"><span></span> Agree
                        </label>
                        <label class="css-input css-radio css-radio-primary push-10-r">
                            <input type="radio" name="q3" value="3"><span></span> Neutral
                        </label>
                        <label class="css-input css-radio css-radio-primary">
                            <input type="radio" name="q3" value="2"><span></span> Disagree
                        </label>
                        <label class="css-input css-radio css-radio-primary push-10-r">
                            <input type="radio" name="q3" value="1"><span></span> Strongly Disagree
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material">
                                <textarea class="form-control" id="material-textarea-large" name="comments" rows="8" placeholder="Please add a comment"></textarea>
                                <label for="material-textarea-large">Comments</label>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="form-material floating">
                                <select class="form-control" id="feedbackType" name="feedbackType" size="1">
                                    <option></option>
                                    <option value="daily">Daily</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="semister">Semister</option>
                                </select>
                                <label for="feedbackType">Please Select Feedback type</label>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-sm-9">
                            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- END Static Labels -->
    </div>
</div>
