@model Project01_Team07.Models.Feedback

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeedbackComment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackResponse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeedbackResponse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.crn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.crn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.FeedbackID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
