﻿@{
    ViewData["Title"] = "Feedback Failure";
}
<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('/assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Failure</h1>
        <h2 class="h5 text-white-op animated zoomIn">Unable to submit the feeback</h2>
    </div>
</div>
<!-- END Page Header -->
<label>Unable to submit the Feedback. Please try it again </label>