@model IEnumerable<Project01_Team07.Models.Feedback>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedbackComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedbackResponse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeedbackComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeedbackResponse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.crn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.FeedbackID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.FeedbackID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.FeedbackID">Delete</a>
        </td>
    </tr>
}
</table>
