﻿@{
    ViewData["Title"] = "Feedback Success";
}
<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('/assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Success</h1>
        <h2 class="h5 text-white-op animated zoomIn">Feedack submitted</h2>
    </div>
</div>
<!-- END Page Header -->
<label style="margin-left:30em;margin-top: 9em;">Feedback submitted successfully</label>