﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META start -->
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Project01_Team07</title>
    <meta name="author" content="evick.ru, paqmind.com" />
    <meta name="description" content="template for themeforest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- META end -->
    <!-- CSS INCLUDING start -->

    <link href="~/landing/css/bootstrap.css" rel="stylesheet" />

    <link href="~/landing/vendors/animations/animations.css" rel="stylesheet" />

    <link href="~/landing/vendors/flexslider/flexslider.css" rel="stylesheet" />

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
   @* <link href="~/landing/vendors/font-awesome/css/font-awesome.css" rel="stylesheet" />*@

    <link href="~/landing/vendors/prettyPhoto/css/prettyPhoto.css" rel="stylesheet" />

    <link href="~/landing/css/vendors-fix.css" rel="stylesheet" />

    <link href="~/landing/css/template.css" rel="stylesheet" />

    <!-- CSS INCLUDING end -->
</head>
<body id="layout-home">

    <div id="preloader"></div>

    <!-- PAGE NAVIGATION start -->
    <div id="page-nav" class="page-nav-dynamic">
        <div id="page-nav-wrapper">
            <ul class="nav nav-justified">
                <li id="page-nav-intro">
                    <!-- notice: replace it with your logo -->
                    <a href="index.html#page-panel-intro" title="Home"><img src="~/landing/img/logo.png" alt="Home" /></a>
                </li>
                <li id="page-nav-about">
                    <a href="index.html#page-panel-about" title="About me">
                        <span class="icon"></span><span class="text">About me</span>
                        <span class="strip"></span>
                    </a>
                </li>
                <li id="page-nav-portfolio">
                    <a href="index.html#page-panel-portfolio" title="Portfolio">
                        <span class="icon"></span><span class="text">Portfolio</span>
                        <span class="strip"></span>
                    </a>
                </li>
                <li id="page-nav-clients">
                    <a href="index.html#page-panel-clients" title="Clients">
                        <span class="icon"></span><span class="text">Clients</span>
                        <span class="strip"></span>
                    </a>
                </li>
                <li id="page-nav-blog">
                    <a href="index.html#page-panel-blog" title="My blog">
                        <span class="icon"></span><span class="text">My blog</span>
                        <span class="strip"></span>
                    </a>
                </li>
                <li id="page-nav-contacts">
                    <a href="index.html#page-panel-contacts" title="Contacts">
                        <span class="icon"></span><span class="text">Contacts</span>
                        <span class="strip"></span>
                    </a>
                </li>
            </ul>
            <div id="page-nav-shadow"></div>
        </div><!-- page-nav-wrapper end -->
    </div><!-- page-nav end -->
    <!-- PAGE NAVIGATION end -->
    <!-- INTRO PANEL start -->
    <div id="page-panel-intro" class="page-panel">
        <div id="slider-intro" class="flexslider flexslider-clear flexslider-dots flexslider-dots-fillin">
            <ul class="slides">
                <li class="slide slide1" data-stellar-background-ratio="0.5">
                    <div class="text">
                        <p class="heading" data-stellar-background-ratio="1">
                            <span class="animate fadeIn transitionDelay2 transitionDuration4">The journey</span>
                            <span class="animate fadeIn transitionDelay3 transitionDuration4">begins</span>
                        </p>
                        <p class="subheading animate fadeIn transitionDelay6 transitionDuration10" data-stellar-background-ratio="1">This is my perfect world and the whole story</p>
                    </div>
                </li><!-- slide1 end -->

                <li class="slide slide2" data-stellar-background-ratio="0.5">
                    <div class="text">
                        <p class="heading"><span class="animate fromTop transitionDelay2 transitionDuration6">Beautiful</span> <span class="animate fromTop transitionDelay3 transitionDuration6">Website</span></p>
                        <p class="subheading animate fromBottom transitionDelay6 transitionDuration10">For top class professional photography</p>
                    </div>
                </li><!-- slide2 end -->

                <li class="slide slide3" data-stellar-background-ratio="0.5">
                    <div class="text">
                        <p class="heading animate fromLeft transitionDelay2 transitionDuration10">Effective design</p>
                        <p class="subheading  animate fromRight transitionDelay6 transitionDuration10">A beautiful website for master photographer</p>
                    </div>
                </li><!-- slide3 end -->
            </ul><!-- slides end -->
        </div><!-- flexslider end -->
        <!-- btn-begin-story start -->
        <div id="btn-begin-story" class="text-center">
            @using System.Security.Claims
            <a asp-controller="Account" asp-action="Register" class="btn btn-styled btn-styled-white">
                SignUp
            </a>
            <a asp-controller="Account" asp-action="Login" class="btn btn-styled btn-styled-white">
                <span class="icon icon-left fa fa-angle-down"></span>SignIn<span class="icon icon-right fa fa-angle-down"></span>
            </a>
        </div><!-- btn-begin-story end -->
    </div><!-- page-panel end -->
    <!-- INTRO PANEL end -->
    <!-- ABOUT PANEL start -->
    <div id="page-panel-about" class="page-panel">
        <div class="container page-panel-inner">
            <div class="clearfix">
                <!-- slider-about start -->
                <!-- notice: replace its with your photos -->
                <div id="slider-about" class="flexslider flexslider-clear flexslider-dots flexslider-dots-fillin" data-animated="fadeInLeft">
                    <ul class="slides">
                        <li>
                            <div class="img-liquid"><img src="~/landing/img/add/about/1.jpg" alt="photo descr" /></div>
                        </li>
                        <li>
                            <div class="img-liquid"><img src="~/landing/img/add/about/2.jpg" alt="photo descr" /></div>
                        </li>
                        <li>
                            <div class="img-liquid"><img src="~/landing/img/add/about/3.jpg" alt="photo descr" /></div>
                        </li>
                    </ul>
                </div><!-- slider-about end -->
                <!-- text-about start -->
                <!-- notice: provide here information about yourself -->
                <div id="text-about" data-animated="fadeInRight">
                    <p class="page-panel-heading">About me</p>
                <p>@RenderBody()</p>
                    <p class="lead">I am an excellent photographer and creative designer, I love my work.</p>
                    <p>Then I'll write a little about yourself, your brief biography and why I started doing this and still continue.</p>
                    <p>I love to travel and are constantly taking pictures and doing all the sketches, I'm madly in love because our world is so beautiful;)</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare sem sit amet mauris bibendum, ac fringilla quam eleifend. Praesent elit tellus, venenatis in lorem ac, porta accumsan sapien. Cras malesuada feugiat magnum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare sem sit amet mauris bibendum, ac fringilla quam eleifend. Praesent elit tellus, venenatis in lorem ac, porta accumsan sapien. Cras malesuada feugiat magnum.</p>
                </div><!-- text-about end -->

            </div><!-- clearfix end -->
            <!-- statistic start -->
            <!-- notice: provide interesting data about you -->
            <!-- advice: for more icons look at FontAwesome Set (link in documentation) -->
            <div class="statistic" data-animated="fadeInUp">
                <div class="row">
                    <!-- statistic item start -->
                    <div class="col-xs-6 col-md-3 item">
                        <p class="icon"><span class="fa fa-clock-o"></span></p>
                        <p class="heading">Photo taken</p>
                        <p class="value">1475</p>
                    </div><!-- statistic item end -->
                    <!-- statistic item start -->
                    <div class="col-xs-6 col-md-3 item">
                        <p class="icon"><span class="fa fa-globe"></span></p>
                        <p class="heading">Visited countries</p>
                        <p class="value">87</p>
                    </div><!-- statistic item end -->
                    <!-- statistic item start -->
                    <div class="col-xs-6 col-md-3 item">
                        <p class="icon"><span class="fa fa-credit-card"></span></p>
                        <p class="heading">Spend money</p>
                        <p class="value">15 000</p>
                    </div><!-- statistic item end -->
                    <!-- statistic item start -->
                    <div class="col-xs-6 col-md-3 item">
                        <p class="icon"><span class="fa fa-trophy"></span></p>
                        <p class="heading">My awords</p>
                        <p class="value">17</p>
                    </div><!-- statistic item end -->
                </div><!-- row end -->
            </div><!-- statistic end -->

        </div><!-- page-panel-inner end -->
    </div><!-- page-panel end -->
    <!-- ABOUT PANEL end -->
    <!-- PORTFOLIO PANEL start -->
    <div id="page-panel-portfolio" class="page-panel">
        <div class="container page-panel-inner">
            <p class="page-panel-heading text-center" data-animated="fadeInUp">Portfolio works</p>
            <!-- page-panel-nav start -->
            <!-- notice: replace with your photo and descriptions -->
            <!-- advice: your can add new categories or replace currents -->
            <div class="page-panel-nav page-panel-nav-green" data-animated="fadeInUp">
                <ul class="nav" data-option-key="filter">
                    <li class="active"><a href="#filter" data-filter="all">All</a></li>
                    <li><a href="#filter" data-filter="travel">Travel</a></li>
                    <li><a href="#filter" data-filter="animals">Animals</a></li>
                    <li><a href="#filter" data-filter="people">People</a></li>
                    <li><a href="#filter" data-filter="extreme">Extreme</a></li>
                </ul>
            </div><!-- page-panel-nav end -->
            <!-- portfolio-items start -->
            <div id="portfolio" data-animated="fadeInUp">
                <div class="wrapper">
                    <!-- portfolio item start -->
                    <div class="item" data-id="id-0" data-type="travel">
                        <div class="img thumbnail">
                            <div class="img-liquid"><a href="~/landing/img/add/portfolio/1.jpg" data-gal="prettyPhoto[portfolio]"><img src="~/landing/img/add/portfolio/1.jpg" alt="photo descr"></a></div>
                            <div class="descr">
                                <p class="heading">Abandoned valley</p>
                                <p class="subheading">Morocco</p>
                                <div class="zoom"><span class="fa fa-plus"></span></div>
                            </div>
                        </div>
                    </div><!-- portfolio item end -->
                    <!-- portfolio item start -->
                    <div class="item" data-id="id-1" data-type="animals">
                        <div class="img thumbnail">
                            <div class="img-liquid"><a href="~/landing/img/add/portfolio/2.jpg" data-gal="prettyPhoto[portfolio]"><img src="~/landing/img/add/portfolio/2.jpg" alt="photo descr"></a></div>
                            <div class="descr">
                                <p class="heading">Abandoned valley</p>
                                <p class="subheading">Morocco</p>
                                <div class="zoom"><span class="fa fa-plus"></span></div>
                            </div>
                        </div>
                    </div><!-- portfolio item end -->
                    <!-- portfolio item start -->
                    <div class="item" data-id="id-3" data-type="people">
                        <div class="img thumbnail">
                            <div class="img-liquid"><a href="~/landing/img/add/portfolio/3.jpg" data-gal="prettyPhoto[portfolio]"><img src="~/landing/img/add/portfolio/3.jpg" alt="photo descr"></a></div>
                            <div class="descr">
                                <p class="heading">Abandoned valley</p>
                                <p class="subheading">Morocco</p>
                                <div class="zoom"><span class="fa fa-plus"></span></div>
                            </div>
                        </div>
                    </div><!-- portfolio item end -->
                    <!-- portfolio item start -->
                    <div class="item" data-id="id-4" data-type="extreme">
                        <div class="img thumbnail">
                            <div class="img-liquid"><a href="~/landing/img/add/portfolio/4.jpg" data-gal="prettyPhoto[portfolio]"><img src="~/landing/img/add/portfolio/4.jpg" alt="photo descr"></a></div>
                            <div class="descr">
                                <p class="heading">Abandoned valley</p>
                                <p class="subheading">Morocco</p>
                                <div class="zoom"><span class="fa fa-plus"></span></div>
                            </div>
                        </div>
                    </div><!-- portfolio item end -->
                    <!-- portfolio item start -->
                    <div class="item" data-id="id-5" data-type="animals">
                        <div class="img thumbnail">
                            <div class="img-liquid"><a href="~/landing/img/add/portfolio/5.jpg" data-gal="prettyPhoto[portfolio]"><img src="~/landing/img/add/portfolio/5.jpg" alt="photo descr"></a></div>
                            <div class="descr">
                                <p class="heading">Abandoned valley</p>
                                <p class="subheading">Morocco</p>
                                <div class="zoom"><span class="fa fa-plus"></span></div>
                            </div>
                        </div>
                    </div><!-- portfolio item end -->
                    <!-- portfolio item start -->
                    <div class="item" data-id="id-6" data-type="people">
                        <div class="img thumbnail">
                            <div class="img-liquid"><a href="~/landing/img/add/portfolio/6.jpg" data-gal="prettyPhoto[portfolio]"><img src="~/landing/img/add/portfolio/6.jpg" alt="photo descr"></a></div>
                            <div class="descr">
                                <p class="heading">Abandoned valley</p>
                                <p class="subheading">Morocco</p>
                                <div class="zoom"><span class="fa fa-plus"></span></div>
                            </div>
                        </div>
                    </div><!-- portfolio item end -->
                    <!-- portfolio item start -->
                    <div class="item" data-id="id-7" data-type="travel">
                        <div class="img thumbnail">
                            <div class="img-liquid"><a href="~/landing/img/add/portfolio/7.jpg" data-gal="prettyPhoto[portfolio]"><img src="~/landing/img/add/portfolio/7.jpg" alt="photo descr"></a></div>
                            <div class="descr">
                                <p class="heading">Abandoned valley</p>
                                <p class="subheading">Morocco</p>
                                <div class="zoom"><span class="fa fa-plus"></span></div>
                            </div>
                        </div>
                    </div><!-- portfolio item end -->
                    <!-- portfolio item start -->
                    <div class="item" data-id="id-8" data-type="extreme">
                        <div class="img thumbnail">
                            <div class="img-liquid"><a href="~/landing/img/add/portfolio/8.jpg" data-gal="prettyPhoto[portfolio]"><img src="~/landing/img/add/portfolio/8.jpg" alt="photo descr"></a></div>
                            <div class="descr">
                                <p class="heading">Abandoned valley</p>
                                <p class="subheading">Morocco</p>
                                <div class="zoom"><span class="fa fa-plus"></span></div>
                            </div>
                        </div>
                    </div><!-- portfolio item end -->
                    <!-- portfolio item start -->
                    <div class="item" data-id="id-9" data-type="animals">
                        <div class="img thumbnail">
                            <div class="img-liquid"><a href="~/landing/img/add/portfolio/9.jpg" data-gal="prettyPhoto[portfolio]"><img src="~/landing/img/add/portfolio/9.jpg" alt="photo descr"></a></div>
                            <div class="descr">
                                <p class="heading">Abandoned valley</p>
                                <p class="subheading">Morocco</p>
                                <div class="zoom"><span class="fa fa-plus"></span></div>
                            </div>
                        </div>
                    </div><!-- portfolio item end -->
                </div><!-- wrapper end -->
            </div><!-- portfolio end -->
        </div><!-- page-panel-inner end -->
    </div><!-- page-panel end -->
    <!-- PORTFOLIO PANEL end -->
    <!-- CLIENTS PANEL start -->
    <div id="page-panel-clients" class="page-panel">
        <div class="container page-panel-inner">
            <p class="page-panel-heading text-center" data-animated="fadeInUp">Testimonials</p>

            <!-- slider-testimonials start-->
            <!-- notice: replace its with testimonials about you -->
            <div id="slider-testimonials" class="flexslider flexslider-clear flexslider-dots flexslider-dots-fillin" data-animated="fadeInUp">
                <ul class="slides">
                    <li>
                        <p class="lead">Nullam ornare sem sit amet mauris bibendum, ac fringilla quam eleifend. Praesent elit tellus, venenatis in lorem ac, porta accumsan sapien. Cras malesuada feugiat magnum.</p>
                        <p class="author">— Anna Balashova, <a href="index.html">Web Designer</a></p>
                    </li>
                    <li>
                        <p class="lead">Nullam ornare sem sit amet mauris bibendum, ac fringilla quam eleifend. Praesent elit tellus, venenatis in lorem ac, porta accumsan sapien. Cras malesuada feugiat magnum.</p>
                        <p class="author">— Tatjana Kleshnina, <a href="index.html">Web Developer</a></p>
                    </li>
                    <li>
                        <p class="lead">Nullam ornare sem sit amet mauris bibendum, ac fringilla quam eleifend. Praesent elit tellus, venenatis in lorem ac, porta accumsan sapien. Cras malesuada feugiat magnum.</p>
                        <p class="author">— Anna Balashova, <a href="index.html">Web Designer</a></p>
                    </li>
                </ul>
            </div><!-- slider-testimonials end -->
            <!-- logos start -->
            <!-- notice: replace its with logo of your clients -->
            <div class="row logos" data-animated="fadeInUp">
                <div class="logo col-xs-6 col-sm-4 col-md-2"><a href="index.html" class="thumbnail"><img src="~/landing/img/add/client-logos/1.jpg" alt="img descr" /></a></div>
                <div class="logo col-xs-6 col-sm-4 col-md-2"><a href="index.html" class="thumbnail"><img src="~/landing/img/add/client-logos/2.jpg" alt="img descr" /></a></div>
                <div class="logo col-xs-6 col-sm-4 col-md-2"><a href="index.html" class="thumbnail"><img src="~/landing/img/add/client-logos/3.jpg" alt="img descr" /></a></div>
                <div class="logo col-xs-6 col-sm-4 col-md-2"><a href="index.html" class="thumbnail"><img src="~/landing/img/add/client-logos/4.jpg" alt="img descr" /></a></div>
                <div class="logo col-xs-6 col-sm-4 col-md-2"><a href="index.html" class="thumbnail"><img src="~/landing/img/add/client-logos/5.jpg" alt="img descr" /></a></div>
                <div class="logo col-xs-6 col-sm-4 col-md-2"><a href="index.html" class="thumbnail"><img src="~/landing/img/add/client-logos/6.jpg" alt="img descr" /></a></div>
            </div><!-- logos end -->

            <p class="lead text-center" data-animated="fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <!-- counters start -->
            <!-- notice: provide interesting data about you -->
            <div class="counters" data-animated="fadeInUp">
                <div class="row">
                    <!-- counter start -->
                    <div class="counter col-xs-6 col-sm-3">
                        <span class="counter-value" data-counter="185">185</span><br />
                        <span class="counter-heading">Happy clients</span>
                    </div><!-- counter end -->
                    <!-- counter start -->
                    <div class="counter col-xs-6 col-sm-3">
                        <span class="counter-value" data-counter="107">107</span><br />
                        <span class="counter-heading">Finished projects</span>
                    </div><!-- counter end -->
                    <!-- counter start -->
                    <div class="counter col-xs-6 col-sm-3">
                        <span class="counter-value" data-counter="148">148</span><br />
                        <span class="counter-heading">Countries visited</span>
                    </div><!-- counter end -->
                    <!-- counter start -->
                    <div class="counter col-xs-6 col-sm-3">
                        <span class="counter-value" data-counter="69">69</span><br />
                        <span class="counter-heading">Pizza ordered</span>
                    </div><!-- counter end -->
                </div>
            </div><!-- counters end -->

        </div><!-- page-panel-inner end -->
    </div><!-- page-panel end -->
    <!-- CLIENTS PANEL end -->
    <!-- BLOG PANEL start -->
    <div id="page-panel-blog" class="page-panel">
        <div class="container page-panel-inner">
            <p class="page-panel-heading text-center" data-animated="fadeInUp">My blog</p>
            <p class="page-panel-subheading text-center" data-animated="fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <!-- posts start -->
            <!-- notice: replace its with your posts -->
            <div id="slider-posts" class="posts flexslider flexslider-clear" data-animated="fadeInUp">
                <ul class="slides">
                    <!-- post start -->
                    <li class="post">
                        <a href="post.html" class="thumbnail"><img src="~/landing/img/add/posts/1.jpg" alt="photo descr"></a>
                        <p class="post-heading"><a href="post.html">How I long for a tireless hunting guepard. I won!</a></p>
                        <p>Then I'll write a little about yourself, your brief biography and why I started doing this and still continue.</p>
                        <div class="infobar">
                            <div class="date"><span class="icon fa fa-clock-o"></span> March 10, 2013</div>
                            <div class="comments"><a href="post.html"><span class="icon fa fa-comments"></span> Comments (12)</a></div>
                            <div class="more"><a href="post.html">Read more</a></div>
                        </div>
                    </li><!-- post end -->
                    <!-- post start -->
                    <li class="post">
                        <a href="post.html" class="thumbnail"><img src="~/landing/img/add/posts/2.jpg" alt="photo descr"></a>
                        <p class="post-heading"><a href="post.html">How to choose a good camera for a beginner.</a></p>
                        <p>Then I'll write a little about yourself, your brief biography and why I started doing this and still continue.</p>
                        <div class="infobar">
                            <div class="date"><span class="icon fa fa-clock-o"></span> March 23, 2013</div>
                            <div class="comments"><a href="post.html"><span class="icon fa fa-comments"></span> Comments (5)</a></div>
                            <div class="more"><a href="post.html">Read more</a></div>
                        </div>
                    </li><!-- post end -->
                    <!-- post start -->
                    <li class="post">
                        <a href="post.html" class="thumbnail"><img src="~/landing/img/add/posts/3.jpg" alt="photo descr"></a>
                        <p class="post-heading"><a href="post.html">Extreme photographing only for professionals!</a></p>
                        <p>Then I'll write a little about yourself, your brief biography and why I started doing this and still continue.</p>
                        <div class="infobar">
                            <div class="date"><span class="icon fa fa-clock-o"></span> March 31, 2013</div>
                            <div class="comments"><a href="post.html"><span class="icon fa fa-comments"></span> Comments (22)</a></div>
                            <div class="more"><a href="post.html">Read more</a></div>
                        </div>
                    </li><!-- post end -->
                    <!-- post start -->
                    <li class="post">
                        <a href="post.html" class="thumbnail"><img src="~/landing/img/add/posts/4.jpg" alt="photo descr"></a>
                        <p class="post-heading"><a href="post.html">How I long for a tireless hunting guepard. I won!</a></p>
                        <p>Then I'll write a little about yourself, your brief biography and why I started doing this and still continue.</p>
                        <div class="infobar">
                            <div class="date"><span class="icon fa fa-clock-o"></span> March 10, 2013</div>
                            <div class="comments"><a href="post.html"><span class="icon fa fa-comments"></span> Comments (12)</a></div>
                            <div class="more"><a href="post.html">Read more</a></div>
                        </div>
                    </li><!-- post end -->
                    <!-- post start -->
                    <li class="post">
                        <a href="post.html" class="thumbnail"><img src="~/landing/img/add/posts/5.jpg" alt="photo descr"></a>
                        <p class="post-heading"><a href="post.html">How to choose a good camera for a beginner.</a></p>
                        <p>Then I'll write a little about yourself, your brief biography and why I started doing this and still continue.</p>
                        <div class="infobar">
                            <div class="date"><span class="icon fa fa-clock-o"></span> March 23, 2013</div>
                            <div class="comments"><a href="post.html"><span class="icon fa fa-comments"></span> Comments (5)</a></div>
                            <div class="more"><a href="post.html">Read more</a></div>
                        </div>
                    </li><!-- post end -->
                    <!-- post start -->
                    <li class="post">
                        <a href="post.html" class="thumbnail"><img src="~/landing/img/add/posts/6.jpg" alt="photo descr"></a>
                        <p class="post-heading"><a href="post.html">Extreme photographing only for professionals!</a></p>
                        <p>Then I'll write a little about yourself, your brief biography and why I started doing this and still continue.</p>
                        <div class="infobar">
                            <div class="date"><span class="icon fa fa-clock-o"></span> March 31, 2013</div>
                            <div class="comments"><a href="post.html"><span class="icon fa fa-comments"></span> Comments (22)</a></div>
                            <div class="more"><a href="post.html">Read more</a></div>
                        </div>
                    </li><!-- post end -->
                </ul>
            </div><!-- posts end -->
        </div><!-- page-panel-inner end -->
    </div><!-- page-panel end -->
    <!-- BLOG PANEL end -->
    <!-- CONTACTS PANEL start -->
    <div id="page-panel-contacts" class="page-panel">
        <div class="container page-panel-inner">
            <p class="page-panel-heading text-center" data-animated="fadeInUp">Contacts</p>
            <p class="lead text-center" data-animated="fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <!-- feedback start -->
            <div class="feedback feedback-orange" data-animated="fadeInUp">
                <div class="alert alert-success hidden">Your message was sent successfully! I will be in touch as soon as I can.</div>
                <div class="alert alert-danger hidden">Something went wrong, try refreshing and submitting the form again.</div>
                <form role="form" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group has-icon">
                                <label class="sr-only" for="feedbackName">Name</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                    <input type="text" class="form-control" id="feedbackName" name="feedbackName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group has-icon">
                                <label class="sr-only" for="feedbackEmail">E-mail</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                    <input type="text" class="form-control" id="feedbackEmail" name="feedbackEmail" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="form-group has-icon">
                                <label class="sr-only" for="feedbackPhone">Phone</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                                    <input type="text" class="form-control" id="feedbackPhone" name="feedbackPhone" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label class="sr-only" for="feedbackMessage">Message</label>
                                <textarea class="form-control" rows="8" id="feedbackMessage" name="feedbackMessage" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-styled btn-styled-black">Send message<span class="icon icon-right fa fa-angle-right"></span></button></div>
                </form>
            </div><!-- feedback end-->
            <!-- map start -->
            <p class="lead text-center" data-animated="fadeInUp">We are here</p>
            <div id="map" data-animated="fadeInUp">
                <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3&amp;aq=0&amp;oq=%D1%81%D0%B0%D0%BD%D0%BA%D1%82-%D0%BF%D0%B5&amp;sll=37.0625,-95.677068&amp;sspn=39.644047,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F&amp;ll=59.93428,30.335099&amp;spn=0.024555,0.077162&amp;t=m&amp;z=14&amp;output=embed"></iframe>
            </div>
            <!-- map end -->
        </div><!-- page-panel-inner end -->
    </div><!-- page-panel end -->
    <!-- CONTACTS PANEL end -->
    <!-- PAGE FOOTER start -->
    <div id="page-footer">
        <div class="container page-footer-inner">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p id="copyright">&copy; Designed with love by <a href="index.html">Anna Balashova</a></p>
                </div><!-- end -->
                <div class="col-xs-12 col-sm-6">
                    <!-- social-icons start -->
                    <div class="social-icons social-icons-gray-dark">
                        <span class="icons">
                            <a href="index.html" class="icon fa fa-twitter"></a>
                            <a href="index.html" class="icon fa fa-facebook"></a>
                            <a href="index.html" class="icon fa fa-google-plus"></a>
                            <a href="index.html" class="icon fa fa-pinterest"></a>
                        </span>
                    </div><!-- social-icons end -->
                </div><!-- end -->
            </div><!-- row end -->
        </div><!-- page-footer-inner end -->
    </div>
    <!-- PAGE FOOTER end -->
    <!-- JS INCLUDING start -->

    <script src="~/landing/vendors/jquery/jquery.js"></script>

    <script src="~/landing/vendors/jquery/jquery-migrate.min.js"></script>

    <script src="~/landing/vendors/jquery/jquery.appear.js"></script>

    <script src="~/landing/vendors/jquery/jquery.countTo.js"></script>

    <script src="~/landing/vendors/jquery/jquery.quicksand.js"></script>

    <script src="~/landing/vendors/jquery/jquery.easing.min.js"></script>

    <script src="~/landing/vendors/jquery/jquery.queryloader2.js"></script>

    <script src="~/landing/vendors/jquery/jquery.form.js"></script>

    <script src="~/landing/vendors/jquery/jquery.validate.min.js"></script>

    <script src="~/landing/vendors/bootstrap/js/alert.js"></script>

    <script src="~/landing/vendors/bootstrap/js/button.js"></script>

    <script src="~/landing/vendors/bootstrap/js/transition.js"></script>

    <script src="~/landing/vendors/animations/animations.js"></script>

    <script src="~/landing/vendors/flexslider/jquery.flexslider-min.js"></script>

    <script src="~/landing/vendors/img-liquid/js/imgLiquid-min.js"></script>

    <script src="~/landing/vendors/prettyPhoto/js/jquery.prettyPhoto.js"></script>

    <script src="~/landing/vendors/stellar/jquery.stellar.min.js"></script>

    <script src="~/landing/js/template.js"></script>

    <!-- JS INCLUDING end -->
</body>
</html>