﻿@using System.Security.Claims

@if (User.IsSignedIn())
{
                <!-- Header Navigation Right -->
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" >
        <ul class="nav-header pull-right">
            <li>
                <div class="btn-group">
                    <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                        <img src="~/assets/img/avatars/avatar10.jpg" alt="Avatar">
                        <span>@User.GetUserName()!</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">Profile</li>
                        <li>
                            <a tabindex="-1" asp-controller="Manage" asp-action="Index">
                                <i class="si si-user pull-right"></i>
                                <span class="badge badge-success pull-right">1</span>Profile
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Actions</li>
                        <li>
                            <button type="submit" class="si si-logout pull-right">Log off</button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

</form>

        }
        else
        {
        <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;margin-bottom: -15px;">
            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>
        }
