﻿@using System.Security.Claims

@if (User.IsSignedIn())
{


}
else
{
    <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;margin-bottom: -15px;">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
