/*******************************************************************************
  TEMPLATE
*******************************************************************************/
/*******************************************************************************
  FONTS
*******************************************************************************/
@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/roboto-black-webfont.eot');
  src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-black-webfont.woff') format('woff'), url('../fonts/roboto-black-webfont.ttf') format('truetype'), url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light-webfont.ttf') format('truetype'), url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*******************************************************************************
  BASE
*******************************************************************************/
a,
button,
input,
select,
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:focus {
  outline: none;
}
blockquote {
  position: relative;
  border: 1px solid #e3e3e3;
  font-family: 'roboto';
  font-size: 1em;
}
blockquote .strip-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  width: 3px;
  background: #79a0f4;
}
.heading {
  font-family: 'robotoblack';
}
.lead {
  font-size: 1.77em;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.thumbnail {
  padding: 0;
  border: none;
  border-radius: 0;
  background: transparent;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: none;
}
.text-muted:hover {
  color: #999999;
}
.nowrap {
  white-space: nowrap;
}
/*******************************************************************************
  BOOTSTRAP-OVERLAY RESPONSIVE
/******************************************************************************/
@media (min-width: 1200px) {
  
}
@media (max-width: 1023px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  
}
/*******************************************************************************
  LAYOUT
*******************************************************************************/
/*******************************************************************************
  LAYOUT — RESPONSIVE
*******************************************************************************/
@media (min-width: 1200px) {
  
}
@media (min-width: 980px) and (max-width: 1199px) {
  
}
@media (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
@media (max-width: 320px) {
  
}
/*******************************************************************************
  MODULES (in alphabetic order)
*******************************************************************************/
/* BTN-STYLED
------------------------------------------------------------------------------*/
.btn-styled {
  padding: 1.38em 1.66em;
  border: 1px solid;
  border-radius: 0;
  background: transparent;
  font-family: 'robotoblack';
  font-size: 0.88em;
  text-transform: uppercase;
  letter-spacing: 0.27em;
}
.btn-styled .icon-left {
  margin-right: 1.1em;
}
.btn-styled .icon-right {
  margin-left: 1.1em;
}
.btn-styled-white {
  border-color: #fff;
  color: #fff;
}
.btn-styled-white:hover {
  background: #fff;
  color: #333;
}
.btn-styled-black {
  border-color: #333;
  color: #333;
}
.btn-styled-black:hover {
  background: #333;
  color: #fff;
}
#btn-begin-story {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 14%;
  z-index: 10;
}
/* COMMENTS
------------------------------------------------------------------------------*/
.comments .item {
  position: relative;
  margin-bottom: 30px;
}
.comments .item .avatar {
  float: left;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
}
.comments .item .avatar img {
  width: 100%;
}
.comments .item .info {
  width: 320px;
  padding-top: 30px;
  padding-left: 120px;
}
.comments .item .info .name {
  font-weight: bold;
}
.comments .item .info .date {
  color: #999999;
  font-size: 0.72em;
}
.comments .item .text {
  font-size: 0.77em;
}
.comments .item .strip-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  border-left: 1px solid #e3e3e3;
}
.comments .social-icons {
  float: right;
}
/* COUNTERS
------------------------------------------------------------------------------*/
.counters {
  margin-bottom: 1.1em;
  text-align: center;
}
.counters .counter {
  margin-bottom: 1.1em;
}
.counters .counter .counter-value {
  color: #fbc849;
  font-family: 'robotoblack';
  font-size: 5.55em;
  line-height: 100px;
}
.counters .counter .counter-heading {
  font-family: 'Roboto';
  font-size: 1.22em;
}
/* DOTSTYLE
------------------------------------------------------------------------------*/
.dotstyle {
  text-align: center;
}
.dotstyle li {
  margin-left: 10px;
  margin-right: 10px;
}
.dotstyle li a {
  width: 16px!important;
  height: 16px!important;
}
/* FEEDBACK
------------------------------------------------------------------------------*/
.feedback {
  position: relative;
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 2em;
}
.feedback .form-group {
  margin-bottom: 1.66em;
}
.feedback .form-group .form-control {
  border: 2px solid #fff;
  border-radius: 0;
  color: #999999;
  font-size: 1em;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.feedback .form-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333333;
}
.feedback .form-group input[type='text'],
.feedback .form-group input[type='email'],
.feedback .form-group textarea {
  height: 48px;
}
.feedback .form-group textarea {
  height: 204px;
}
.feedback .form-group.has-icon .form-control {
  border-left: none;
}
.feedback .form-group span.error {
  color: #d9534f;
  font-size: 0.7em;
}
.feedback .input-group-addon {
  padding-right: 0;
  background: #fff;
  border: 2px solid #fff;
  border-right: none;
  border-radius: 0;
  color: #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.feedback-orange {
  border: 5px solid #ff9d67;
}
.feedback-orange .form-group .form-control:focus {
  border-color: #ff9d67;
}
.feedback-orange .form-group.has-icon .input-group-addon.focused {
  color: #ff9d67;
  border-color: #ff9d67;
}
.feedback-blue {
  border: 5px solid #79a0f4;
}
.feedback-blue .form-group .form-control {
  border-color: #e3e3e3;
}
.feedback-blue .form-group .form-control:focus {
  border-color: #79a0f4;
}
.feedback-blue .form-group.has-icon .input-group-addon {
  border-color: #e3e3e3;
}
.feedback-blue .form-group.has-icon .input-group-addon.focused {
  color: #79a0f4;
  border-color: #79a0f4;
}
/* LOGOS
------------------------------------------------------------------------------*/
.logos {
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #e2d1a8;
  border-bottom: 1px solid #e2d1a8;
}
.logos .logo {
  text-align: center;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.logos .logo:hover {
  opacity: 1;
}
.logos .logo .thumbnail {
  margin-bottom: 0;
}
/* MAP
------------------------------------------------------------------------------*/
#map iframe {
  width: 100%;
  height: 300px;
}
/* PAGE-HEADER
------------------------------------------------------------------------------*/
#page-header {
  padding-top: 40px;
  padding-bottom: 50px;
}
.page-header-blue {
  background: #d0dfff;
}
/* PAGE-CONTENT
------------------------------------------------------------------------------*/
#page-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* PAGE-NAV
------------------------------------------------------------------------------*/
#page-nav {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 1000;
}
#page-nav #page-nav-wrapper {
  position: relative;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
}
#page-nav #page-nav-wrapper li {
  border-right: 1px solid #e3e3e3;
  font-size: 0.72em;
  text-align: center;
  text-transform: uppercase;
}
#page-nav #page-nav-wrapper li:last-child {
  border-right: none;
}
#page-nav #page-nav-wrapper li .icon {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: cover;
}
#page-nav #page-nav-wrapper li#page-nav-about .icon {
  background: url(../img/icons/black/user.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-portfolio .icon {
  background: url(../img/icons/black/camera.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-clients .icon {
  background: url(../img/icons/black/portfolio.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-blog .icon {
  background: url(../img/icons/black/comments.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-contacts .icon {
  background: url(../img/icons/black/envelope.png) no-repeat center;
}
#page-nav #page-nav-wrapper li .text {
  position: relative;
  bottom: -30px;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #333;
  font-family: 'robotoblack';
  line-height: 59px;
  letter-spacing: 0.15em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#page-nav #page-nav-wrapper li .strip {
  content: '';
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#page-nav #page-nav-wrapper li#page-nav-about .strip {
  background: #3baab4;
}
#page-nav #page-nav-wrapper li#page-nav-portfolio .strip {
  background: #8fd75c;
}
#page-nav #page-nav-wrapper li#page-nav-clients .strip {
  background: #fbc849;
}
#page-nav #page-nav-wrapper li#page-nav-blog .strip {
  background: #79a0f4;
}
#page-nav #page-nav-wrapper li#page-nav-contacts .strip {
  background: #ff9d67;
}
#page-nav #page-nav-wrapper li.active a {
  background: #fff;
}
#page-nav #page-nav-wrapper li.active .text {
  opacity: 1;
  filter: alpha(opacity=100);
  bottom: 0;
}
#page-nav #page-nav-wrapper li.active .strip {
  height: 6px;
  top: -6px;
  visibility: visible;
}
#page-nav #page-nav-wrapper li.active .icon {
  opacity: 0.25;
}
#page-nav #page-nav-wrapper li:hover a {
  background: none;
}
#page-nav #page-nav-wrapper li:hover .text {
  opacity: 1;
  filter: alpha(opacity=100);
  bottom: 0;
}
#page-nav #page-nav-wrapper li:hover .strip {
  height: 6px;
  top: -6px;
  visibility: visible;
}
#page-nav #page-nav-wrapper li:hover .icon {
  opacity: 0.25;
}
#page-nav #page-nav-wrapper li#page-nav-about:hover .icon {
  background: url(../img/icons/color/user.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-portfolio:hover .icon {
  background: url(../img/icons/color/camera.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-clients:hover .icon {
  background: url(../img/icons/color/portfolio.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-blog:hover .icon {
  background: url(../img/icons/color/comments.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-contacts:hover .icon {
  background: url(../img/icons/color/envelope.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-about.active .icon {
  background: url(../img/icons/color/user.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-portfolio.active .icon {
  background: url(../img/icons/color/camera.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-clients.active .icon {
  background: url(../img/icons/color/portfolio.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-blog.active .icon {
  background: url(../img/icons/color/comments.png) no-repeat center;
}
#page-nav #page-nav-wrapper li#page-nav-contacts.active .icon {
  background: url(../img/icons/color/envelope.png) no-repeat center;
}
#page-nav #page-nav-shadow {
  position: absolute;
  bottom: -3px;
  left: 6px;
  right: 6px;
  height: 3px;
  background: #f2f2f2;
}
#page-nav.page-nav-static {
  position: relative;
  top: 0;
}
/* PAGE-PANEL
------------------------------------------------------------------------------*/
.page-panel {
  position: relative;
  bottom: 0;
}
.page-panel .page-panel-inner {
  position: relative;
  bottom: 0;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 180px;
  padding-bottom: 90px;
  z-index: 2;
}
#layout-post .page-panel-inner {
  padding-top: 80px;
  padding-bottom: 80px;
}
#page-panel-intro {
  background: #000000;
}
#page-panel-about {
  background: #bcf5fa;
}
#page-panel-portfolio {
  background: #e5fed3;
}
#page-panel-clients {
  background: #fff7e4;
}
#page-panel-blog {
  background: #d0dfff;
}
#page-panel-contacts {
  background: #ffebe0;
}
/* PAGE-PANEL-INTRO
------------------------------------------------------------------------------*/
#page-panel-intro {
  position: relative;
}
/* PAGE-PANEL-BLOG
------------------------------------------------------------------------------*/
#page-panel-blog .page-panel-subheading {
  padding-left: 3em;
  padding-right: 3em;
}
/* PAGE-PANEL COMPONENTS
------------------------------------------------------------------------------*/
.page-panel-heading {
  margin-bottom: 30px;
  font-family: 'robotoblack';
  font-size: 1.77em;
  line-height: 34px;
  text-transform: uppercase;
}
.page-panel-nav {
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.page-panel-nav li {
  float: left;
  margin-bottom: 0.5em;
  height: 13px;
  border-right: 1px solid;
  font-size: 0.72em;
  line-height: 13px;
}
.page-panel-nav li:last-child {
  border-right: none;
}
.page-panel-nav li a {
  padding-top: 0;
  padding-bottom: 0;
  color: #333333;
  font-family: 'robotoblack';
  text-transform: uppercase;
  letter-spacing: 0.15em;
  cursor: pointer;
}
.page-panel-nav li a:hover,
.page-panel-nav li a:focus,
.page-panel-nav li a:active {
  background: none;
}
.page-panel-nav-green li {
  border-right-color: #9cda70;
}
.page-panel-nav-green li.active a,
.page-panel-nav-green li:hover a {
  color: #6fa45f;
}
.page-panel-nav-blue li {
  border-right-color: #8aadf6;
}
.page-panel-nav-blue li.active a,
.page-panel-nav-blue li:hover a {
  color: #4a8bc2;
}
/* PAGE-FOOTER
------------------------------------------------------------------------------*/
#page-footer {
  background: #1c1c1c;
}
#page-footer .page-footer-inner {
  position: relative;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
#page-footer #copyright {
  margin-bottom: 0;
  color: #666;
  font-size: 0.66em;
  line-height: 50px;
}
#page-footer #copyright a {
  color: #999;
}
#page-footer .social-icons {
  text-align: right;
}
/* PORTFOLIO
------------------------------------------------------------------------------*/
#portfolio {
  position: relative;
  text-align: center;
}
#portfolio .wrapper {
  position: relative;
}
#portfolio .item {
  display: inline-block;
  width: 350px;
  height: 263px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
#portfolio .item .img {
  position: relative;
  overflow: hidden;
}
#portfolio .item .img .img-liquid {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#portfolio .item .img .descr {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 50px;
  background: #e5fed3;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: left;
}
#portfolio .item .img .descr .heading {
  margin-bottom: 0;
  font-size: 0.88em;
  font-family: 'robotoblack';
  line-height: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
#portfolio .item .img .descr .subheading {
  margin-bottom: 0;
  color: #73ac4a;
  font-size: 0.72em;
  font-family: 'robotoblack';
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
#portfolio .item .img .descr .zoom {
  position: absolute;
  top: 1em;
  bottom: 1em;
  right: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #333333;
  font-family: 'Roboto';
  font-size: 1em;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#portfolio .item .img .descr .zoom:hover {
  background: #6fa45f;
  border-color: #6fa45f;
  color: #fff;
}
#portfolio:hover .img-liquid {
  opacity: 0.3!important;
}
#portfolio:hover .img-liquid:hover {
  opacity: 1!important;
}
#portfolio:hover .img:hover .descr {
  bottom: 0;
  opacity: 1!important;
}
#portfolio .img-liquid {
  width: 350px;
  height: 263px;
}
/* POSTS
------------------------------------------------------------------------------*/
.posts {
  margin-bottom: 1.1em;
}
.posts .post {
  float: left;
  width: 360px;
  margin-right: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.posts .post-heading {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #a4bff9;
  font-size: 1.77em;
  line-height: 42px;
}
.posts .post-heading a {
  color: #333333;
}
.posts .post-heading a:hover {
  color: #527fe1;
}
.posts .infobar {
  margin-top: 40px;
  padding: 10px 15px;
  background: #dee9ff;
  text-transform: uppercase;
}
.posts .infobar:before,
.posts .infobar:after {
  content: " ";
  display: table;
}
.posts .infobar:after {
  clear: both;
}
.posts .infobar .date,
.posts .infobar .comments,
.posts .infobar .more {
  float: left;
}
.posts .infobar .date {
  font-family: 'Roboto';
  font-size: 0.61em;
  width: 35%;
  text-align: left;
}
.posts .infobar .comments {
  font-family: 'Roboto';
  font-size: 0.61em;
  width: 40%;
  text-align: center;
}
.posts .infobar .comments a {
  color: #333333;
}
.posts .infobar .comments a:hover {
  color: #527fe1;
}
.posts .infobar .more {
  width: 25%;
  color: #333;
  font-family: 'robotoblack';
  font-size: 0.66em;
  text-align: right;
}
.posts .infobar .more a {
  color: #333333;
}
.posts .infobar .more a:hover {
  color: #527fe1;
}
.posts .infobar .icon {
  color: #527fe1;
}
.posts .slides:hover .post {
  opacity: 0.3;
}
.posts .slides:hover .post:hover {
  opacity: 1;
}
.post .post-header {
  margin-bottom: 40px;
}
.post .post-header h1 {
  font-size: 3.55em;
}
.post .post-header .info {
  padding-left: 40px;
}
.post .post-header .info .date,
.post .post-header .info .comments {
  font-family: 'roboto';
  font-size: 0.61em;
  text-transform: uppercase;
}
.post .post-header .info .date .icon,
.post .post-header .info .comments .icon {
  color: #527fe1;
}
.post .post-header .info .date a,
.post .post-header .info .comments a {
  color: #333333;
}
.post .post-header .info .date a:hover,
.post .post-header .info .comments a:hover {
  color: #527fe1;
}
.post .post-header .info h1 {
  margin-top: 30px;
  margin-bottom: 40px;
}
/* PRELOADER
------------------------------------------------------------------------------*/
#preloader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1051;
  background: #fff;
}
#qLpercentage {
  font-family: 'robotolight';
  font-size: 2em;
  height: 80px!important;
  margin-top: -82px !important;
}
/* PRETTY-PHOTO
------------------------------------------------------------------------------*/
.pp_default .pp_fade {
  position: relative;
}
.pp_default .pp_content {
  background: transparent!important;
}
.pp_default .pp_content_container ul li a {
  border: none;
  background: none;
}
.pp_default .pp_content_container ul li a img {
  box-shadow: 0 0 0 1px #112008;
}
.pp_default .icon {
  height: 40px;
  width: 40px;
  z-index: 10000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
  color: #fff;
  line-height: 38px;
  text-indent: 0;
  text-align: center;
}
.pp_default .icon:hover {
  color: #333;
  background: #fff;
  border-color: #fff;
}
.pp_default .pp_next,
.pp_default .pp_previous,
.pp_default .pp_arrow_previous,
.pp_default .pp_arrow_next {
  position: relative;
  background: none!important;
}
.pp_default .pp_next:hover,
.pp_default .pp_previous:hover,
.pp_default .pp_arrow_previous:hover,
.pp_default .pp_arrow_next:hover {
  background: none!important;
}
.pp_default .pp_next .icon,
.pp_default .pp_previous .icon,
.pp_default .pp_arrow_previous .icon,
.pp_default .pp_arrow_next .icon {
  position: absolute;
  height: 40px;
}
.pp_default .pp_next .icon {
  top: 50%;
  right: 20px;
}
.pp_default .pp_previous .icon {
  top: 50%;
  left: 20px;
}
.pp_default .pp_arrow_next .icon {
  top: 0;
  right: -20px;
}
.pp_default .pp_arrow_previous .icon {
  top: 0;
  left: -20px;
}
.pp_default .pp_close {
  position: absolute;
  background: none!important;
  top: 20px;
  right: 20px;
  width: 40px!important;
  height: 40px!important;
  z-index: 2001;
}
.pp_default .pp_close .icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.82em;
}
.pp_default .pp_gallery ul {
  margin: 0;
}
.pp_default .pp_gallery ul li:last-child {
  margin-right: 0;
}
/* SLIDERS
------------------------------------------------------------------------------*/
#slider-intro .slides {
  height: 100%;
}
#slider-intro .slides .text {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 40%;
  text-align: center;
}
#slider-intro .slides .text .heading {
  margin-bottom: 10px;
  color: #fff;
  font-size: 5.55em;
  line-height: 1;
  font-family: 'robotolight';
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}
#slider-intro .slides .text .subheading {
  font-family: 'robotoblack';
  font-size: 1.77em;
  margin-bottom: 1.66em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
#slider-intro .slides .slide.slide1 {
  background: url(../img/add/intro/1.jpg) center top no-repeat;
}
#slider-intro .slides .slide.slide2 {
  background: url(../img/add/intro/2.jpg) center top no-repeat;
}
#slider-intro .slides .slide.slide3 {
  background: url(../img/add/intro/3.jpg) center top no-repeat;
}
#slider-intro.flexslider {
  margin: 0;
}
#slider-intro.flexslider .flex-control-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4%;
  z-index: 2;
}
#slider-about {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  z-index: 2;
}
#slider-about.flexslider {
  background: url(../img/bgs/frames.png) no-repeat;
  background-size: cover;
  width: 592px;
  height: 594px;
  padding: 50px 52px 112px 52px;
}
#slider-about.flexslider ul.slides li {
  overflow: hidden;
  width: 490px;
  height: 430px;
}
#slider-about.flexslider .flex-control-nav li a {
  box-shadow: inset 0 0 0 2px #cccccc;
}
#slider-about.flexslider .flex-control-nav li a:hover,
#slider-about.flexslider .flex-control-nav li a:focus {
  box-shadow: inset 0 0 0 2px rgba(51, 153, 204, 0.6);
}
#slider-about.flexslider .flex-control-nav li a.flex-active {
  box-shadow: inset 0 0 0 8px #3399cc;
}
#slider-about .img-liquid {
  width: 490px;
  height: 430px;
}
#slider-testimonials {
  margin-bottom: 2em;
  padding-bottom: 2.5em;
}
#slider-testimonials .slides {
  margin-bottom: 10px;
}
#slider-testimonials .slides li {
  text-align: center;
}
#slider-testimonials .slides li .author {
  color: #666;
  font-size: 0.88em;
  text-align: center;
}
#slider-testimonials .slides li .author a {
  color: #c09853;
}
#slider-testimonials .flex-control-nav {
  bottom: 0;
}
#slider-testimonials .flex-control-nav li a {
  box-shadow: inset 0 0 0 2px #a08657;
}
#slider-testimonials .flex-control-nav li a:hover,
#slider-testimonials .flex-control-nav li a:focus {
  box-shadow: inset 0 0 0 2px rgba(251, 200, 73, 0.6);
}
#slider-testimonials .flex-control-nav li a.flex-active {
  box-shadow: inset 0 0 0 8px #fbc849;
}
#slider-posts {
  padding-top: 20px;
}
#slider-posts .flex-direction-nav a {
  top: -25px;
  opacity: 1;
  width: auto;
  text-shadow: none;
}
#slider-posts .flex-direction-nav a .icon {
  padding: 0 15px;
  border: 1px solid #333333;
  font-size: 1.4em;
  line-height: 38px;
  color: #333333;
}
#slider-posts .flex-direction-nav a:hover .icon {
  border: 1px solid #527fe1;
  background: #527fe1;
  color: #fff;
}
#slider-posts .flex-direction-nav a.flex-prev {
  left: 0;
}
#slider-posts .flex-direction-nav a.flex-next {
  right: 0;
}
#slider-posts .flex-direction-nav a:before,
#slider-posts .flex-direction-nav a:after {
  content: '';
}
#slider-posts.flexslider:hover .flex-prev {
  left: 0;
}
#slider-posts.flexslider:hover .flex-next {
  right: 0;
}
/* SOCIAL-ICONS
------------------------------------------------------------------------------*/
.social-icons .icons .icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  color: #cccccc;
  line-height: 48px;
  text-align: center;
}
.social-icons .icons .icon:hover {
  color: #fff;
}
.social-icons .icons .icon:last-child {
  margin-right: 0;
}
.social-icons .icons .icon.fa-twitter:hover {
  border-color: #33cefe;
  background: #33cefe;
}
.social-icons .icons .icon.fa-facebook:hover {
  border-color: #3c599b;
  background: #3c599b;
}
.social-icons .icons .icon.fa-google-plus:hover {
  border-color: #196eef;
  background: #196eef;
}
.social-icons .icons .icon.fa-pinterest:hover {
  border-color: #cb2028;
  background: #cb2028;
}
.social-icons-gray-dark .icons .icon {
  border: 1px solid #242424;
  color: #333333;
}
/* STATICTIC
------------------------------------------------------------------------------*/
.statistic {
  margin-top: 50px;
}
.statistic .item {
  margin-top: 0;
  margin-bottom: 20px;
  border-right: 1px solid #9ce2e8;
  text-align: center;
}
.statistic .item:last-child {
  border-right: none;
}
.statistic .item .icon {
  color: #3baab4;
  font-size: 3em;
  line-height: 1.2;
}
.statistic .item .heading {
  margin-bottom: 0;
  font-family: 'Roboto';
  font-size: 0.88em;
  font-weight: bold;
  text-transform: uppercase;
}
.statistic .item .value {
  font-family: 'robotolight';
  font-size: 3em;
  line-height: 1.1;
}
/* TEXT
------------------------------------------------------------------------------*/
#text-about {
  padding-left: 620px;
}
/*******************************************************************************
  MODULES — RESPONSIVE
*******************************************************************************/
@media (max-width: 1023px) {
  #text-about {
    padding-left: 490px;
  }
  #slider-intro .slides .text .heading {
    font-size: 4.44em;
  }
  #slider-intro .slides .text .subheading {
    font-size: 1.55em;
  }
}
@media (max-width: 979px) {
  #page-nav {
    top: 0;
  }
  #page-nav #page-nav-wrapper .nav-justified > li {
    display: table-cell;
    width: 1%;
    min-width: 30px;
  }
  #page-nav #page-nav-wrapper .nav-justified > li#page-nav-intro {
    min-width: 110px;
  }
  #page-nav #page-nav-wrapper li a {
    padding-top: 0;
    padding-bottom: 0;
  }
  #page-nav #page-nav-wrapper li .strip {
    display: none;
  }
  #page-nav #page-nav-wrapper li .icon {
    top: 2px;
  }
  #page-nav #page-nav-wrapper li#page-nav-about .icon {
    background: url(../img/icons/black/user-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-portfolio .icon {
    background: url(../img/icons/black/camera-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-clients .icon {
    background: url(../img/icons/black/portfolio-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-blog .icon {
    background: url(../img/icons/black/comments-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-contacts .icon {
    background: url(../img/icons/black/envelope-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-about:hover .icon {
    background: url(../img/icons/color/user-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-portfolio:hover .icon {
    background: url(../img/icons/color/camera-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-clients:hover .icon {
    background: url(../img/icons/color/portfolio-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-blog:hover .icon {
    background: url(../img/icons/color/comments-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-contacts:hover .icon {
    background: url(../img/icons/color/envelope-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-about.active .icon {
    background: url(../img/icons/color/user-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-portfolio.active .icon {
    background: url(../img/icons/color/camera-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-clients.active .icon {
    background: url(../img/icons/color/portfolio-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-blog.active .icon {
    background: url(../img/icons/color/comments-sm.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-contacts.active .icon {
    background: url(../img/icons/color/envelope-sm.png) no-repeat center;
  }
  .page-panel .page-panel-inner {
    padding-top: 80px;
  }
  #slider-about {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  #slider-intro .slides .text .heading {
    font-size: 4.44em;
  }
  #slider-intro .slides .text .subheading {
    font-size: 1.55em;
  }
  .statistic .item {
    border-right: none;
  }
  #text-about {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .comments .social-icons {
    float: none;
  }
  #page-nav #page-nav-wrapper li {
    border-right-width: 0;
  }
  #page-nav #page-nav-wrapper li:first-child {
    border-right-width: 1px;
  }
  #page-nav #page-nav-wrapper li a {
    margin-bottom: 0;
    padding: 5px 10px;
  }
  #page-nav #page-nav-wrapper li .text {
    display: none;
  }
  #page-nav #page-nav-wrapper li .icon {
    top: -15px;
  }
  #page-nav #page-nav-wrapper li.active .icon {
    opacity: 1;
  }
  #page-nav #page-nav-wrapper li:hover .icon {
    opacity: 1;
  }
  #page-nav #page-nav-wrapper li#page-nav-about .icon {
    background: url(../img/icons/black/user-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-portfolio .icon {
    background: url(../img/icons/black/camera-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-clients .icon {
    background: url(../img/icons/black/portfolio-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-blog .icon {
    background: url(../img/icons/black/comments-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-contacts .icon {
    background: url(../img/icons/black/envelope-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-about:hover .icon {
    background: url(../img/icons/color/user-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-portfolio:hover .icon {
    background: url(../img/icons/color/camera-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-clients:hover .icon {
    background: url(../img/icons/color/portfolio-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-blog:hover .icon {
    background: url(../img/icons/color/comments-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-contacts:hover .icon {
    background: url(../img/icons/color/envelope-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-about.active .icon {
    background: url(../img/icons/color/user-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-portfolio.active .icon {
    background: url(../img/icons/color/camera-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-clients.active .icon {
    background: url(../img/icons/color/portfolio-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-blog.active .icon {
    background: url(../img/icons/color/comments-xs.png) no-repeat center;
  }
  #page-nav #page-nav-wrapper li#page-nav-contacts.active .icon {
    background: url(../img/icons/color/envelope-xs.png) no-repeat center;
  }
  #page-footer .social-icons {
    text-align: left;
  }
  .portfolio-category {
    display: none;
  }
  .portfolio-category#portfolio-category-travel {
    display: block;
  }
  .portfolio-category .item .img .descr {
    padding-right: 40;
  }
  .portfolio-category .item .img .descr .zoom {
    width: 30px;
    height: 30px;
    font-size: 1em;
  }
  .pp_default .pp_gallery {
    display: none!important;
  }
  #slider-intro .slides .text .heading {
    font-size: 3.33em;
  }
  #slider-intro .slides .text .subheading {
    font-size: 1.22em;
  }
}
@media (max-width: 480px) {
  .comments .item .media-object {
    float: none!important;
  }
  .comments .item .strip-center {
    display: none;
  }
  #slider-about.flexslider {
    width: 292px;
    height: 294px;
    margin-bottom: 2em;
    padding: 30px 32px 92px 32px;
  }
  #slider-about.flexslider ul.slides li {
    width: 230px;
    height: 220px;
  }
  #slider-about .flex-control-nav {
    bottom: -10px;
  }
  #slider-about .img-liquid {
    width: 230px;
    height: 220px;
  }
  .logos .logo {
    float: none;
    width: 100%;
  }
  #slider-intro .slides .text .heading {
    font-size: 2.22em;
  }
  #slider-intro .slides .text .subheading {
    font-size: 1em;
  }
}
@media (max-width: 320px) {
  
}
