/*******************************************************************************
  VENDORS-FIX
*******************************************************************************/
/*******************************************************************************
  FONT-AWESOME
*******************************************************************************/
a .fa:hover,
a.fa:hover {
  text-decoration: none;
}
/* ------- custom css ------- */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/*******************************************************************************
  FLEXSLIDER
*******************************************************************************/
.flexslider .animate {
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.flexslider .transitionDelay1 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.flexslider .transitionDelay2 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.flexslider .transitionDelay3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.flexslider .transitionDelay4 {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.flexslider .transitionDelay5 {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.flexslider .transitionDelay6 {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.flexslider .transitionDelay7 {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.flexslider .transitionDelay8 {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.flexslider .transitionDelay9 {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
.flexslider .transitionDelay10 {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.flexslider .transitionDuration2 {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.flexslider .transitionDuration4 {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.flexslider .transitionDuration6 {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.flexslider .transitionDuration8 {
  -webkit-transition-duration: 0.8;
  transition-duration: 0.8;
}
.flexslider .transitionDuration10 {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.flexslider .fromTop {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.flexslider .fromBottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.flexslider .fromLeft {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.flexslider .fromRight {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.flexslider li.flex-active-slide .animate {
  opacity: 1;
}
.flexslider li.flex-active-slide .fromTop {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
.flexslider li.flex-active-slide .fromBottom {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
.flexslider li.flex-active-slide .fromLeft {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.flexslider li.flex-active-slide .fromRight {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.flexslider-clear {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.flexslider-clear .flex-control-nav {
  position: relative;
  width: auto;
}
.flexslider-clear .flex-control-nav li a {
  background: transparent;
}
.flexslider-clear .flex-direction-nav a span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flexslider-dots .flex-control-nav li a {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-right: 8px;
}
.flexslider-dots-fillin .flex-control-nav li a {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px white;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
.flexslider-dots-fillin .flex-control-nav li a:hover,
.flexslider-dots-fillin .flex-control-nav li a:focus {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
}
.flexslider-dots-fillin .flex-control-nav li a.flex-active {
  box-shadow: inset 0 0 0 8px white;
}
