﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}



<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal registerpage-content" role="form">
    <h2>@ViewData["Title"]</h2>
    <h4>Create a new account</h4>

    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        </div>
    <div class="form-group">
         <label asp-for="FirstName" class="col-md-2 control-label"></label>
         <div class="col-md-10">
              <input asp-for="FirstName" class="form-control" />
              <span asp-validation-for="FirstName" class="text-danger"></span>
         </div>
         </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
   
    <div class="form-group usercheck-sctn">
        <label asp-for="studentcheck" class="col-md-2 control-label"> select a role</label>
        <div class="col-md-10">
            <input asp-for="studentcheck" type="radio" value="faculty" />Faculty
            <input asp-for="studentcheck" type="radio" value="student" />Student
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
