@model Project01_Team07.Models.Facultyenrollment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Facultyenrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacultyID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacultyID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.crn1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.crn1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.crn2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.crn2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.crn3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.crn3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.semester)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.semester)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.facEnrollmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
