@model IEnumerable<Project01_Team07.Models.Facultyenrollment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacultyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crn1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crn2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crn3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semester)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.crn1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.crn2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.crn3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semester)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.facEnrollmentID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.facEnrollmentID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.facEnrollmentID">Delete</a>
        </td>
    </tr>
}
</table>
